@charset "utf-8";
/* reset*/
body,div,h1,h2,ul,li,p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*all*/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: aliceblue;
    font-size: 16px;
    font-family: "pangolin", cursive;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}
#container{
    background: aliceblue;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}
#wrapper{
    overflow: hidden;
}

/*header*/
#gallery{
    width: 100%;
    height: 360px;
    background-image: url(../images/IMG_NGS2.jpg);
    background-blend-mode: overlay;
    position: relative;
}
header{
    white-space: nowrap;
}
h1{
    color: aquamarine;
    font-size: 2.5rem;
    font-weight: bold;
}
h1.logo{
    text-align: left;
}
h1.logo img{
    vertical-align: bottom;
    padding: 0 1rem;
}

/*content*/
section{
    margin-bottom: 15px;
}
section h2{
    color: aliceblue;
    font-size: 1.2em;
    margin: 0 0 15px;
    padding: 5px 0.4px 1.1em;
    background-color: black;
    border-left: 6px solid red;
}
section p{
    color: black;
    font-size: 0.875em;
    margin: 0 1em 20px 2em;
}

/*footer*/
footer{
    background-color: black;
    color: aliceblue;
    clear: both;
    border-top: solid 1px antiquewhite;
    border-bottom: solid 1px antiquewhite;
    padding: 10px 0 12px 0;
    text-align: center;
}
footer p small{
    font-size: 0.8em;
}

/*pagetop*/
p.pagetop{
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0.55;
}
p.pagetop a{
    display: block;
    text-decoration: none;
}
p.pagetop:hover{
    opacity: 0.85;
}

/*animation*/
/*gallery 見出し*/
#gallery h2.title{
    font-size: 3rem;
    color: aliceblue;
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
}
/*背景 animation fadeinbg*/
@keyframes fadeinbg{
    from{
        opacity: 0;
        transform: translateZ(20px);
    }
    to{
        opacity: 1;

    }
}
/*見出し animation fadein*/
@keyframes slidein{
    from{
        opacity: 0;
        transform: translate(0%,0%)
    }
    to{
        opacity: 1;
        transform: scale(1.5) translate(30%, 100px);
    }
}
@media(max-width:700px){
    #container{
        width: 100%;
        max-width: auto;
    }
}
/*modile*/
@media screen and(max-width:767px){
    /*header*/
    #gallery{
        height: 260px;
    }
    h1{
        font-size: 1.5em;
        font-weight: normal;
    }
    #gallery h2.page-title{
        font-size: 2rem;
    }
    /*見出し animation fadein*/
    @keyframes slidein{
        from{
            opacity: 0;
            transform: translate(0%,0%)
        }
        to{
            opacity: 1;
            transform:translate(10%, 150px);
        }
    }
}