@charset "utf-8";
body{
    background-image: url("../images/saito.jpg");
    background-size: 100%;
    min-width: 650px;
}
header{
    white-space: nowrap;
}

section h2,section h3,section p{
    text-align: center;
    color: #FFFFFF;

}
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    font-weight: normal;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: initial;
    color: #FFFFFF;

}
.page-subtitle{
    font-size: 3rem;
    font-family: 'Philosopher', serif;
    font-weight: normal;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: initial;
    color: #FFFFFF;

}
@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#logo{
    animation-name: myrotate;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}
@keyframes myrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#logoname{
    animation-name: logoname;
    animation-duration: 2s;
    animation-iteration-count: initial;
}
@keyframes logoname{
    from{
        opacity: 1;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.Enter{
    width: 25%;
    margin: auto;
}
.Enter img{
    width: 200px;
}
.Enter:hover {
    opacity: 0.50;
}

footer{
    font-family: 'Philosopher', serif;
    font-weight: normal;
}

footer div{
    background-color: rgb(102, 241, 156);
    width: 100%;
    color: rgb(247, 246, 248);
    position: absolute;
    left: 0;
    bottom: 0;
}

footer nav{
    width: 100%;
    color: rgb(196, 255, 216);
    position: absolute;
    left: 0;
    bottom: 0;
}
footer nav ul{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 6px;
    list-style-type: none;
    justify-content: flex-end;
}
footer nav a{
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    text-decoration:none;
    border-bottom: solid 1px;
    color: rgb(255, 255, 255);
}
footer nav a:hover{
    color: rgb(42, 161, 165);
}