@charset "utf-8";
header{
    position: relative;
}
header nav{
    background-color: rgb(109, 109, 109);
    width: 100%;
    color: bisque;
    position: absolute;
    left: 0;
    bottom: 0;
}
header nav ul{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 6px;
    list-style-type: none;
}
header nav a{
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    text-decoration:none;
    border-bottom: solid 1px;
    color: rgb(255, 255, 255);
}
header nav a:hover{
    color: brown;
}
@media(max-width: 800px){
    header nav ul{
        display: block;
        line-height: 1;
    }
}