@charset "utf-8";
body{
    background-image: url(../images/bg.png);
    margin: 0;
}
div#container{
    width: 100%;
    text-align: center;
}

header{
    background-color: rgb(41, 77, 145);
    height: 300px;
    line-height: 2;
}

#owner div{
    display: flex;
    margin:0 auto;
    width:calc(100%/3);
    min-width: 200px;
}
#owner dt::after{
    content: ":";
}
#owner dt{
    width: 50%;
}
#owner dd{
    width: 50%;
    margin: 0;
}
main{
    background-color: rgb(83, 155, 218);
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    min-width: 340px;
    padding:1rem 0; 
}
section{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    overflow: hidden;
}
section p{
    box-sizing: border-box;
    width: 55%;
    min-width: 320px;
    margin: 0 1rem;
}
main section:nth-child(1) p{
    float: left;
}
main section:nth-child(2) p{
    width: 100%;
}
main section:nth-child(3) p{
    float: right;
}
section img{
    box-sizing: border-box;
    width: 35%;
    min-width: 200px;
}
main section:nth-child(1) img{
    padding-right: 1rem;
}
main section:nth-child(3) img{
    padding-left: 1rem;
}
h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(34, 122, 180);
    background-color: rgb(132, 250, 210);
    margin: 0;
    padding: 1rem 1rem 0;
}
h2{
    font-family: "游ゴシック体","Yu Gothic",YuGothic,sans-serif;
    color: rgb(180, 34, 107);
    background-color: rgb(132, 250, 210);
    padding: 0.5rem 0.5rem 0;
    border-bottom: 3px solid rgb(146, 146, 146);
    border-left: 3px solid rgb(255, 175, 175);
    margin-top: 0;
}
p{
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gpthic Pro",sans-serif;
    line-height: 1.7;
    text-align: justify;
    color: rgb(253, 97, 24);
    padding: 0 1rem;
    margin-block-end: 0;
}
q{
    font-size: 1.2rem;
}
footer{
    background-color: rgb(111, 186, 252);
    padding: 26px 0;
}
@media (max-width: 800px) {
    main {
        width: 100%;
        box-sizing: border-box;
    }
    section p {
        padding: 0;
    }
    main section:nth-child(1) p,
    main section:nth-child(3) p {
        width: 95%;
        margin: auto;
        box-sizing: border-box;
        float: none; 
    }
}